body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: yellow;
    background: linear-gradient(to bottom, #ffe600, #fffaad);
    display: flex;
    height: 100vh;
    position: relative;
  }

  /* Центр - окно для клика */
  .center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #e0e0e0;
    background: linear-gradient(to bottom, #7bffa7, #d3effc);
    margin-left: 160px;
    margin-right: 0px;
    position: relative;
    height: 90%;
    z-index: 1;
  }

  .container-score {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .container-shop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #e0e0e0;
    background: linear-gradient(to bottom, #7bffa7, #d3effc);
    position: absolute;
    right: 0;
    z-index: 2;
    height: 90%;
    min-width: 40%;
    margin-right: 160px;
    gap: 10px;

    overflow-y: auto;
  }

  .shop-item-first {
    display: flex;
    gap: 30px;
    margin-right: 20px;
    margin-top: 20px;
    flex-direction: row;
  }

  .shop-item-second {
    display: flex;
    gap: 30px;
    margin-right: 20px;
    flex-direction: row;
  }

  .shop-item-third {
    display: flex;
    gap: 30px;
    margin-right: 20px;
    flex-direction: row;
  }

  #first-item {
    min-width: 25vw;
  }

  #second-item {
    min-width: 25vw;
  }

  #third-item {
    min-width: 25vw;
  }

  .first-item-text {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
  }

  .second-item-text {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
  }

  .third-item-text {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
  }
  
  #first-item {
    margin-right: 20px;
    width: 400px;
    height: auto;
  }

  #second-item {
    margin-right: 20px;
    width: 400px;
    height: auto;
  }

  #third-item {
    margin-right: 20px;
    width: 400px;
    height: auto;
  }

  #first-item-label {
    font-size: 60px;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  #second-item-label {
    font-size: 60px;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  #third-item-label {
    font-size: 60px;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  #first-item-price {
    font-size: 30px;
    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  #second-item-price {
    font-size: 30px;
    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  #third-item-price {
    font-size: 30px;
    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  #first-item-priceNum {
    font-size: 30px;
    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  #second-item-priceNum {
    font-size: 30px;
    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  #third-item-priceNum {
    font-size: 30px;
    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; 
  }

  /* Правый край - фиксированная лента */
  .right-strap {
    position: fixed;
    top: 0;
    right: 0;
    width: 160px; /* ширина ленты */
    height: 100vh; /* полная высота */
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0;
    overflow-y: auto; /* при необходимости прокрутка */
    z-index: 2; /* чтобы было поверх других элементов */
  }

  .left-strap {
    position: fixed;
    left: 0;
    top: 0;
    width: 160px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0;
    overflow-y: auto;
    z-index: 2;
  }

  /* Пример содержимого правой ленты */
  .right-strap img {
    width: 160px;
    height: auto;
    margin: 1px 0;
  }

  .left-strap img {
    width: 160px;
    height: auto;
    margin: 1px 0;
  }


  /* Заголовок */
  .center h1 {
    margin-top: 80px;
    font-size: 48px;
    color: #333;
    margin-left: 40px;
  }

  .mini-banana {
    position: absolute;
    width: 50px;
    transition: transform 2s linear, opacity 2s linear;
    z-index: 3;
  }

  .mini-banana-super {
    position: absolute;
    width: 120px;
    transition: transform 6s linear, opacity 6s linear;
    z-index: 3;
    height: auto;
  }

  .container {
    display: flex;
    align-items: flex-end; /* выравнивание по нижней линии */
    position: fixed;
    bottom: 0;
    left: 0;
  }

  #score {
    margin-left: 200px;
    margin-bottom: 10px;
    font-size: 56px;
    color: #222;
    z-index: 11;

    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  .icon {
    margin-left: 10px;
    margin-bottom: 5px;
    max-height: 100px;
    max-width: 100px;
  }

  #bananaImg {
    cursor: pointer;
    width: 30vw;
    height: 80vh;
    margin-left: 60px;
    margin-bottom: 150px;
    margin-right: 30px;
  }

  /* Кнопка logout */
  .logout-form {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 180px;
    margin-bottom: 20px;
  }

  .logout-form button {
    padding: 10px 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 10vw;
    height: 5vh;
    z-index: 10;
    
  }
  .logout-form button:hover {
    background-color: #c9302c;
  }

  .check-stats-form {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: calc(20vw); 
    margin-bottom: 20px;
  }
  
  .check-stats-form button {
    padding: 10px 10px;
    background-color: #0a77f3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 10vw;
    height: 5vh;
    z-index: 10;
  }

  /* Гифки по бокам */
  .gif {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  /* Адаптивность */
  @media(max-width: 600px) {
    body {
      flex-direction: column;
    }
    .side {
      width: 80px;
    }
    .center {
      max-width: 90%;
    }
    .right-strap {
      width: 60px;
    }
  }