body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
    position: relative;
  }

  /* Центр - окно для клика */
  .center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #e0e0e0;
    max-width: calc(50%);
    margin-left: 160px;
    margin-right: 0px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
  }

  .container-shop {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #e0e0e0;
    max-width: calc(50%);
    margin-right: 160px;
    position: relative;
    z-index: 2;
    max-height: 90%;
  }

  .container-shop img {
    margin-right: 0px;
    width: 30vw;
    height: auto;
  }

  .shop-item {
    display: flex;
    align-items: center;
    gap: 100px; /* расстояние между текстом и изображением */
  }

  .first-item-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  #first-item-label {
    font-size: 80px;
  }

  #first-item-price {
    font-size: 30px;
  }

  #first-item-priceNum {
    font-size: 30px;
  }

  /* Правый край - фиксированная лента */
  .right-strap {
    position: fixed;
    top: 0;
    right: 0;
    width: 160px; /* ширина ленты */
    height: 100vh; /* полная высота */
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0;
    overflow-y: auto; /* при необходимости прокрутка */
    z-index: 2; /* чтобы было поверх других элементов */
  }

  .left-strap {
    position: fixed;
    left: 0;
    top: 0;
    width: 160px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0;
    overflow-y: auto;
    z-index: 2;
  }

  /* Пример содержимого правой ленты */
  .right-strap img {
    width: 160px;
    height: auto;
    margin: 1px 0;
  }

  .left-strap img {
    width: 160px;
    height: auto;
    margin: 1px 0;
  }


  /* Заголовок */
  .center h1 {
    margin-bottom: 20px;
    font-size: 48px;
    color: #333;
    margin-left: 40px;
  }

  .mini-banana {
    position: absolute;
    width: 50px;
    transition: transform 2s linear, opacity 2s linear;
    z-index: 3;
    margin-left: 0px;
  }

  .container {
    display: flex;
    align-items: flex-end; /* выравнивание по нижней линии */
    position: fixed;
    bottom: 0;
    left: 0;
  }

  #score {
    margin-left: 220px;
    margin-bottom: 30px;
    font-size: 56px;
    color: #222;
  }
  .icon {
    margin-left: 10px;
    margin-bottom: 20px;
    height: auto;
    width: 100px;
  }

  #bananaImg {
    cursor: pointer;
    width: 30vw;
    height: 80vh;
    margin-left: 50px;
    margin-bottom: 150px;
  }

  /* Кнопка logout */
  .logout-form {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 180px;
    margin-bottom: 20px;
  }

  .logout-form button {
    padding: 10px 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 10vw;
    height: 5vh;
    
  }
  .logout-form button:hover {
    background-color: #c9302c;
  }

  /* Гифки по бокам */
  .gif {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  /* Адаптивность */
  @media(max-width: 600px) {
    body {
      flex-direction: column;
    }
    .side {
      width: 80px;
    }
    .center {
      max-width: 90%;
    }
    .right-strap {
      width: 60px;
    }
  }