<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main_style.css">
<title>Кликер с рекламой и правой лентой</title>
</head>
    <body>

    <div class="center">
        <h1>Кликер</h1>
        <button class="click-btn" id="clickBtn">Кликни меня!</button>
        <div id="score">Счёт: 0</div>
        <form action="{{ url_for('logout') }}" method="post" class="logout-form">
            <button type="submit">Logout</button>
        </form>
    </div>

    <!-- Правая лента -->
    <div class="right-strap">
        <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbHplcGpuM2VlNzM0N3dkM2lxMmlwNHdjbW1jbDBzenR3bXAzNWs2MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/AC6oZZbtrLQa4GQkgX/giphy.gif" alt="Реклама" />
        <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ3pxemNhYWtiYnh3Z2t0b2R3czczODU3em9kazFlY3JyaGRmZ2FlMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YoGyqo06xkIOMagsmW/giphy.gif" alt="Реклама" />
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExeGpsZTN4NGUxZWVrbXIyNnNzOG1ueWd6dnY1dzlnNGdrYnRjbHV5OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SiV54N79YfM30lZLAm/giphy.gif" alt="Реклама" />
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGdrcDZsOWU2MnE3anhkdXQ0YTRrejFhazNmMTQ0NXkzc2E2YjVmZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cLSiUkvpRggjp5J8Bw/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3MzdkNXZzZDA3NHp3cW5ueHhvaWpubWFmNXM1a243NWlsY2V5dXh1bCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Re33JaaYIvCgnfmuod/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3MzdkNXZzZDA3NHp3cW5ueHhvaWpubWFmNXM1a243NWlsY2V5dXh1bCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/GUaLFb5zS5dLrvR7kw/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3MzdkNXZzZDA3NHp3cW5ueHhvaWpubWFmNXM1a243NWlsY2V5dXh1bCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/aYRwPCJDc4s7VGbZ0F/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3emlvajBweG5jcXRmYzBxbjlvbGtrZXpsdGZwNmdveXN2eGZsemNkYiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/USPXKwyZCsChfXStkQ/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGR4Z3M0cTFidGtkeDBtMDYwNGp4NWNseTMxdTc1d3pzdmY1cDlveiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/xoZWpxtSLecftH30K1/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGR4Z3M0cTFidGtkeDBtMDYwNGp4NWNseTMxdTc1d3pzdmY1cDlveiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/ZxWIUYDAKBIuKKkds3/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3cGVuaW15enlrb2QwZjl3NmN4b2RzODBzenh6eGZidXN4bjZzZW9paCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/LMNsgeBFskg4sd7bWk/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3bDV5YjdybGt1dXZ3emp2MjY2aGFmdnhjbXdmMWJ1eHJ4ZmtrNDFrdiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/LDWGyQRkMHbTIEE6QU/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3aHp6NWIxd3k4emxpb3piM2tobGJpb3hrZ3I0am00MDRlemQzNm5pYSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/8y4ZcCzsKRMQl1LOOU/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3ZzA0ZXJxNnJpM2NvcnEyNDJxam1oZXV0amQ2MmR3YnV4aHFqdGxuaCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/vmqdohw2qKbPtYWLml/giphy.gif" alt="Реклама"/>
    </div>

    <div class="left-strap">
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2N3bmNkcXQ1Y21vZDl5dTl5OXBydmwzYXgwbXMyb3Azand5bHk4ciZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Spq2koF9hi9qmOOavS/giphy.gif" alt="Реклама"/>
    </div>

    <script>src="/static/js/main_script.js"</script>

</body>
</html>