<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main_style.css">
    <link rel="stylesheet" href="/static/css/advertising_style.css">
<title>БАНАНОВЫЙ КЛИКЕР</title>
</head>
    <body data-banana-image="{{ url_for('static', filename='images/Banana2.png') }}"
          data-super-cat-image="{{ url_for('static', filename='images/SuperCat.png') }}">

    <div class="center">
        <h1>КЛИКАЙ ПО БАНАНУ!!!</h1>
        <!--https://www.nicepng.com/png/full/769-7690159_-banana-8-8-8bit-picsart.png-->
        <img src="https://www.nicepng.com/png/full/769-7690159_-banana-8-8-8bit-picsart.png" id="bananaImg">
    </div>

    <div class="container-shop">
        <div class="shop-item-first">
            <div class="first-item-text">
                <span class="label" id="first-item-label">{{ firstItem_count }}</span>
                <span class="label" id="first-item-price">Текущая цена:</span>
                <span class="label" id="first-item-priceNum">{{ firstItem_price }}</span>
            </div>
            <img src="{{ url_for('static', filename='images/FirstItem.png') }}" alt="FirstItem" id="first-item">
        </div>

        <div class="shop-item-second">
            <div class="second-item-text">
                <span class="label" id="second-item-label">{{ secondItem_count }}</span>
                <span class="label" id="second-item-price">Текущая цена:</span>
                <span class="label" id="second-item-priceNum">{{ secondItem_price }}</span>
            </div>
            <img src="{{ url_for('static', filename='images/SecondItem.png') }}" alt="SecondItem" id="second-item">
        </div>

        <div class="shop-item-third">
            <div class="third-item-text">
                <span class="label" id="third-item-label">{{ thirdItem_count }}</span>
                <span class="label" id="third-item-price">Текущая цена:</span>
                <span class="label" id="third-item-priceNum">{{ thirdItem_price }}</span>
            </div>
            <img src="{{ url_for('static', filename='images/ThirdItem.png') }}" alt="ThirdItem" id="third-item">
        </div>

        <form action="{{ url_for('logout') }}" method="post" class="logout-form">
            <button type="submit">НЕ УХАДИ...</button>
        </form>
    </div> 

    <div class="container-score">
        <form action="{{ url_for('logout') }}" method="post" class="logout-form">
            <button type="submit">НЕ УХАДИ...</button>
        </form>

        <div class="container">
            <div id="score">Бананчики: {{ score }}</div>
            <img src="{{ url_for('static', filename='images/Banana3.png') }}" alt="Картинка" class="icon">
        </div>
    </div>

    <!-- Правая лента -->
    <div class="right-strap">
        <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbHplcGpuM2VlNzM0N3dkM2lxMmlwNHdjbW1jbDBzenR3bXAzNWs2MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/AC6oZZbtrLQa4GQkgX/giphy.gif" alt="Реклама" />
        <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ3pxemNhYWtiYnh3Z2t0b2R3czczODU3em9kazFlY3JyaGRmZ2FlMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YoGyqo06xkIOMagsmW/giphy.gif" alt="Реклама" />
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExeGpsZTN4NGUxZWVrbXIyNnNzOG1ueWd6dnY1dzlnNGdrYnRjbHV5OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SiV54N79YfM30lZLAm/giphy.gif" alt="Реклама" />
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGdrcDZsOWU2MnE3anhkdXQ0YTRrejFhazNmMTQ0NXkzc2E2YjVmZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cLSiUkvpRggjp5J8Bw/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3MzdkNXZzZDA3NHp3cW5ueHhvaWpubWFmNXM1a243NWlsY2V5dXh1bCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Re33JaaYIvCgnfmuod/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3MzdkNXZzZDA3NHp3cW5ueHhvaWpubWFmNXM1a243NWlsY2V5dXh1bCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/GUaLFb5zS5dLrvR7kw/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3MzdkNXZzZDA3NHp3cW5ueHhvaWpubWFmNXM1a243NWlsY2V5dXh1bCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/aYRwPCJDc4s7VGbZ0F/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3emlvajBweG5jcXRmYzBxbjlvbGtrZXpsdGZwNmdveXN2eGZsemNkYiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/USPXKwyZCsChfXStkQ/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGR4Z3M0cTFidGtkeDBtMDYwNGp4NWNseTMxdTc1d3pzdmY1cDlveiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/xoZWpxtSLecftH30K1/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGR4Z3M0cTFidGtkeDBtMDYwNGp4NWNseTMxdTc1d3pzdmY1cDlveiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/ZxWIUYDAKBIuKKkds3/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3cGVuaW15enlrb2QwZjl3NmN4b2RzODBzenh6eGZidXN4bjZzZW9paCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/LMNsgeBFskg4sd7bWk/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3bDV5YjdybGt1dXZ3emp2MjY2aGFmdnhjbXdmMWJ1eHJ4ZmtrNDFrdiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/LDWGyQRkMHbTIEE6QU/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3aHp6NWIxd3k4emxpb3piM2tobGJpb3hrZ3I0am00MDRlemQzNm5pYSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/8y4ZcCzsKRMQl1LOOU/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3ZzA0ZXJxNnJpM2NvcnEyNDJxam1oZXV0amQ2MmR3YnV4aHFqdGxuaCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/vmqdohw2qKbPtYWLml/giphy.gif" alt="Реклама"/>
    </div>

    <div class="left-strap">
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2N3bmNkcXQ1Y21vZDl5dTl5OXBydmwzYXgwbXMyb3Azand5bHk4ciZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Spq2koF9hi9qmOOavS/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzE1ejdldHptbDJwMWt6dnRneWh6M3ltY3AwMnFnd2duMzAzeWl6OCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/8PZjEA5DEbgWqG4bxo/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzE1ejdldHptbDJwMWt6dnRneWh6M3ltY3AwMnFnd2duMzAzeWl6OCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/aLFk0ZOplASSy3K0U3/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzE1ejdldHptbDJwMWt6dnRneWh6M3ltY3AwMnFnd2duMzAzeWl6OCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/8y4ZcCzsKRMQl1LOOU/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzE1ejdldHptbDJwMWt6dnRneWh6M3ltY3AwMnFnd2duMzAzeWl6OCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/lxxOGaDRk4f7R5TkBd/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzE1ejdldHptbDJwMWt6dnRneWh6M3ltY3AwMnFnd2duMzAzeWl6OCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/LBb735fuQwRKAVzN23/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3c3ZqaXl6emIzNWNhN2V1c2wxczQzcHVkcDFxa2Q2M29uYXhuYXZwNCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/RVCJ3vwebUGDpoy7Tm/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3ajVvMDhoc3llMnVpN2dwd3g5azZudTRwaWduNTB6MzBwb3N0Njg5diZlcD12MV9naWZzX3NlYXJjaCZjdD1n/VFPRXWnYSeyr0diFse/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3cmEwdHd1Y2xxbTRjamdueDgwYXVyZ3J0bnQ3aGJ2dmd0NjU2anl2dyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Poht1CaBxA18DXu6Gx/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3eXg2d2U2Y2J6NzBtejBzeXU2andmMjBhczNjZjU1enluenFlOWNoMyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/V5RDHhUKr4ehMcX1M8/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3eXg2d2U2Y2J6NzBtejBzeXU2andmMjBhczNjZjU1enluenFlOWNoMyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/RYF3cIJiNA3Wn2La47/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3eXg2d2U2Y2J6NzBtejBzeXU2andmMjBhczNjZjU1enluenFlOWNoMyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/6jM8Cxna4bmxyrXayu/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3aHlzcjF5amw4YTllOGRqaWRpeWNlbWlrNzk2MHAwM29pdjdlMWVhZiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/4PxhNsOlVAnGvAD7po/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3dHFpYzJodHQ0eXprejg1NTV0OGtraTVycTZqZTJxbjZqanIzNTJ4byZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Dg4TxjYikCpiGd7tYs/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3N3d0dWMzZzJxamJsY2sxbXA0NzN2eDZqbzQ0Ymx1djFpd3ZsNG1yNCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/joYf3Ba2phD15ch9Nt/giphy.gif" alt="Реклама"/>
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3N3d0dWMzZzJxamJsY2sxbXA0NzN2eDZqbzQ0Ymx1djFpd3ZsNG1yNCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Qz3fzoG7zhRup5sfzY/giphy.gif" alt="Реклама"/>
    </div>

    <script src="/static/js/advertising_script.js"></script>
    <script src="/static/js/main_script.js"></script>

</body>
</html>